:root {
  --dark-primary-color: 49, 46, 41;
  --dark-secondary-color: #312e29;
  --dark-tertiary-color: #b3332e;
  --dark-text-color: white;
}

html {
  background-color: rgb(var(--dark-primary-color));
  color: var(--dark-text-color);
  fill: var(--dark-text-color);
}

.header {
  background-color: rgba(var(--dark-primary-color), 0.77);
}

.nav-hamburger-list {
  background: rgba(var(--dark-primary-color), 1);
}

.nav-links .nav-icons-divider {
  color: var(--dark-tertiary-color);
}

a:hover .feather-moon {
  fill: white;
  color: white;
}

.social-icons-list .social-icon,
.social-icons-list .social-icon a:visited  {
  fill: var(--dark-text-color);
}

.social-icons-list .social-icon a:hover {
  fill: var(--accent-color);
}

.post-tags .post-tag:hover {
  background-color: var(--dark-text-color);
  color: rgb(var(--dark-primary-color));
}

.tags-list .post-tags .post-tag a .tag-posts-count {
  background-color: var(--dark-secondary-color);
}

.tags-list .post-tags .post-tag:hover a .tag-posts-count {
  background-color: var(--dark-text-color);
  color: rgb(var(--dark-primary-color));
}

.footer {
  border-top-color: var(--dark-header-bg-color);
}

blockquote {
  color: darkgrey;
  border-left-color: var(--dark-secondary-color);
}

hr {
  color: var(--dark-secondary-color);
}

table thead {
  background-color: var(--dark-secondary-color);
}

table td,
table th {
  border-bottom-color: var(--dark-secondary-color);
}

code,
pre {
  background-color: var(--accent-color) !important;
}

:not(pre) > code {
  background-color: var(--dark-tertiary-color) !important;
  color: var(--dark-text-color);
}

.header-shadow {
  box-shadow: rgba(255,255,255,0.3) 0px -1px 7px 0px inset;
}

.arrow-logo { 
  background-color: var(--dark-secondary-color);
}

.home-about .avatar img {
  border-radius: 50%;
  height: auto;
  object-fit: cover;
  background-color: #e0d3c0;
  content: url("/images/zenro-dark.png");
}

#avatar:hover {
  content: url("/images/calligraphy-dark.gif");
}

.header-nav .avatar img {
  content: url("/images/zenro-white.png");
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

.karma {
  content: url("../images/zenro-white.png");
}

.vritti-tooltip {
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.vritti.active {
  background-color: white;
  width: 7px;
}
