:root {
  --content-width: 1120px;
  --container-width: 810px;

  --light-primary-color: 255, 255, 255;
  --light-secondary-color: #b3332e;
  --light-tertiary-color: #312e29;
  --light-text-color: black;

  --dark-primary-color: 34, 36, 54;

  --glow-base: #d33682;
  --glow-color: #f4c2c2;
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 400;
  src: url("/fonts/NotoSansJP-Regular.ttf");
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 700;
  src: url("/fonts/NotoSansJP-Bold.ttf");
}

html {
  background-image: url(/images/paper.png);
  color: var(--light-text-color);
  font-family: "NotoSansJP", sans-serif;
  font-size: 17.5px;
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  margin-bottom: 170px;
}

b,
strong {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

/* This is set in partials/head.html and is populated via config */
a:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

main#content {
  margin: 90px auto 0;
  width: var(--content-width);
}

main#content > .container {
  margin: auto;
  width: 75%;
  max-width: var(--container-width);
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 50px;
}

.post.container {
  box-sizing: border-box;
  display: inline-block;
}

.post-toc {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 50px;
  vertical-align: top;
  /* Would be 25% had there been no margins or border box on all inline blocks */
  width: 24%;
}

.center {
  text-align: center;
  margin: 1em;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.title-wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 42px;
}

.title-header {
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  padding-bottom: 7px;
}

.title.stroke {
  color: transparent;
  -webkit-text-stroke: 1.25px var(--accent-color);
  z-index: 1;
  opacity: 0.3;
  padding-bottom: 7px;
}

.title.fill {
  color: var(--accent-color);
  z-index: 2;
  animation: zenroBreath 12s cubic-bezier(0.33, 0.01, 0.68, 1) infinite;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.title.glow {
  color: var(--accent-color);
  filter: blur(4px);
  opacity: 0;
  animation: zenroAura 12s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  pointer-events: none;
  z-index: 0;
}

@keyframes zenroAura {
  0% {
    opacity: 0;
    filter: blur(2px);
    text-shadow: none;
  }
  10% {
    opacity: 0.2;
    filter: blur(3px);
    text-shadow: 0 0 4px var(--glow-color, var(--glow-base));
  }
  20% {
    opacity: 0.4;
    filter: blur(4px);
    text-shadow:
      0 0 6px var(--glow-color, var(--glow-base)),
      0 0 8px var(--glow-color, var(--glow-base));
  }
  30% {
    opacity: 0.6;
    filter: blur(5px);
    text-shadow:
      0 0 8px var(--glow-color, var(--glow-base)),
      0 0 12px var(--glow-color, var(--glow-base));
  }
  40% {
    opacity: 0.8;
    filter: blur(6px);
    text-shadow:
      0 0 12px var(--glow-color, var(--glow-base)),
      0 0 20px var(--glow-color, var(--glow-base));
  }
  50% {
    opacity: 1;
    filter: blur(7px);
    text-shadow:
      0 0 16px var(--glow-color, var(--glow-base)),
      0 0 32px var(--glow-color, var(--glow-base)),
      0 0 48px var(--glow-color, var(--glow-base));
  }
  60% {
    opacity: 0.8;
    filter: blur(6px);
    text-shadow:
      0 0 12px var(--glow-color, var(--glow-base)),
      0 0 20px var(--glow-color, var(--glow-base));
  }
  70% {
    opacity: 0.6;
    filter: blur(5px);
    text-shadow:
      0 0 8px var(--glow-color, var(--glow-base)),
      0 0 12px var(--glow-color, var(--glow-base));
  }
  80% {
    opacity: 0.4;
    filter: blur(4px);
    text-shadow:
      0 0 6px var(--glow-color, var(--glow-base)),
      0 0 8px var(--glow-color, var(--glow-base));
  }
  90% {
    opacity: 0.2;
    filter: blur(3px);
    text-shadow:
      0 0 4px var(--glow-color, var(--glow-base));
  }
  100% {
    opacity: 0;
    filter: blur(2px);
    text-shadow: none;
  }
}

@keyframes zenroBreath {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
  }
  10% {
    clip-path: polygon(0% 80%, 100% 77%, 100% 100%, 0% 100%);
    opacity: 0.2;
  }
  20% {
    clip-path: polygon(0% 60%, 100% 55%, 100% 100%, 0% 100%);
    opacity: 0.4;
  }
  30% {
    clip-path: polygon(0% 40%, 100% 35%, 100% 100%, 0% 100%);
    opacity: 0.6;
  }
  40% {
    clip-path: polygon(0% 20%, 100% 15%, 100% 100%, 0% 100%);
    opacity: 0.8;
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
  60% {
    clip-path: polygon(0% 20%, 100% 15%, 100% 100%, 0% 100%);
    opacity: 0.8;
  }
  70% {
    clip-path: polygon(0% 40%, 100% 35%, 100% 100%, 0% 100%);
    opacity: 0.6;
  }
  80% {
    clip-path: polygon(0% 60%, 100% 55%, 100% 100%, 0% 100%);
    opacity: 0.4;
  }
  90% {
    clip-path: polygon(0% 80%, 100% 77%, 100% 100%, 0% 100%);
    opacity: 0.2;
  }
  100% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
  }
}

.footstep {
  display: inline-block;
  letter-spacing: 0.05em;
  white-space: pre-wrap;
  word-break: keep-all;
  font-size: 1.08rem;
  letter-spacing: 0.01em;
}

.footstep span {
  display: inline-block;
  opacity: 0.7;
  transition: all 0.3s ease;
  animation: footstepGlow 12s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.15s);
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

@keyframes footstepGlow {
  0%, 100% {
    transform: translateY(0);
    text-shadow: none;
    opacity: 0.66;
  }
  20% {
    transform: translateY(-0.7px);
    text-shadow: 0 0 1px var(--accent-color, --light-secondary-color);
    opacity: 0.77;
  }
  40% {
    transform: translateY(-1.4px);
    text-shadow: 0 0 2px var(--accent-color, --light-secondary-color);
    opacity: 0.88;
  }
  50% {
    transform: translateY(-2px);
    text-shadow: 0 0 3px var(--accent-color, --light-secondary-color);
    opacity: 1;
  }
  60% {
    transform: translateY(-1.4px);
    text-shadow: 0 0 2px var(--accent-color, --light-secondary-color);
    opacity: 0.88;
  }
  80% {
    transform: translateY(-0.7px);
    text-shadow: 0 0 1px var(--accent-color, --light-secondary-color);
    opacity: 0.77;
  }
}

#toc {
  position: fixed;
  top: 80px;
  bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

#toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#toc ul li {
  margin-top: 12px;
}

#toc ul li a.level-1 {
  padding-left: 0;
}

#toc ul li a.level-2 {
  padding-left: 10px;
}

#toc ul li a.level-3 {
  padding-left: 20px;
}

#toc ul li a.level-4 {
  padding-left: 30px;
}

#toc ul li a {
  text-decoration: none;
}

#toc ul li a.active {
  color: var(--accent-color);
}

li {
  list-style-type: none;
  position: relative;
}

li::before {
  content: "⚆";
  position: absolute;
  left: -1.2em;
  font-size: 1.0em;
}

img {
  height: auto;
  max-width: 100%;
}

/* HEADER */
.header {
  background-image: url(/images/paper.png);
  color: inherit;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  z-index: 5;
}

.header a {
  text-decoration: none;
}
.header .header-nav {
  height: 50px;
  margin-top: 0;
}

.nav-avatar {
  opacity: 0;
  transform: scale(0) rotate(0deg);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 40px;
  display: none;
}

.nav-avatar.visible {
  opacity: 1;
  transform: scale(1) rotate(360deg);
  display: block;
}

.main-avatar {
  opacity: 1;
  transform: scale(1);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.main-avatar.hidden {
  opacity: 0;
  transform: scale(0) rotate(-360deg);
}

@keyframes blackhole {
  0% {
    transform: scale(1) rotate(0deg);
    filter: brightness(100%);
  }
  50% {
    filter: brightness(50%) blur(3px);
  }
  100% {
    transform: scale(0) rotate(-360deg);
    filter: brightness(0%) blur(7px);
  }
}

.main-avatar.animate-out {
  animation: blackhole 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
.main-avatar.animate-in {
  animation: blackhole 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) backwards;
}
.nav-avatar.animate-out {
  animation: blackhole 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.header-nav .avatar {
  border-radius: 18px;
  float: left;
  height: 100%;
  margin-left: 15px;
}
.header-nav .avatar img:hover {
  content: url("/images/zenro-dark.png");
  animation: scale-down 0.777s forwards;
}
.header-nav .avatar img {
  border-radius: 100%;
  display: block;
  height: 38px;
  margin-top: 5px;
  overflow: hidden;
  width: 38px;
  animation: scale-up 0.777s forwards;
}
.header-nav .nav-title {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  padding-left: 15px;
}
.nav-title a {
  height: 50px;
}
.header-nav .nav-links {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}
.nav-links .nav-link {
  display: inline-block;
  padding: 0 2px;
}
.nav-links .nav-link a {
  display: block;
  padding: 0 6px;
}
.nav-link a svg {
  height: 20px;
  margin: -3px auto;
  stroke-width: 2;
  width: 20px;
}
.nav-item a svg {
  height: 20px;
  margin: -3px auto;
  stroke-width: 2;
  width: 20px;
}
.nav-links .nav-link.icon a {
  padding: 0 8px;
}
.nav-links .nav-icons-divider {
  border-color: inherit;
  border-left: 1.5px solid;
  color: var(--light-secondary-color);
  margin: 0 10px;
}
.nav-links .dark-theme-toggle:hover {
  cursor: pointer;
}

a:hover .feather-sun {
  fill: black;
  color: black;
}

.dark-theme-toggle .feather {
  height: 22px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 22px;
}
#hamburger-menu-toggle {
  display: none;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
}

#hamburger-menu-toggle .feather {
  height: 24px;
  width: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
  top: 7px;
  left: 0;
}

.nav-hamburger-list {
  background: rgb(var(--light-primary-color));
  border-bottom: solid 1.5px var(--light-secondary-color);
  border-top: solid 1.5px var(--light-secondary-color);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.nav-hamburger-list a:hover {
  text-decoration: underline;
}

/* FOOTER */
.footer {
  bottom: 0;
  color: inherit;
  left: 0;
  margin-left: 30%;
  overflow: hidden;
  padding-bottom: 42px;
  position: absolute;
  text-align: center;
  width: 40%;
}

.footer span {
  display: block;
  font-size: 0.85em;
  font-weight: 300;
  padding: 1px 0;
}

#pilgrimae {
  margin-left: 12px;
  margin-right: 12px;
}

/** COMMON **/
.flex-break {
  flex-basis: 100%;
  height: 0;
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.header-shadow {
  box-shadow: rgb(33, 38, 45, 0.3) 0px -1px 7px 0px inset;
}

/* TAGS */
.post-tags {
  list-style-type: none;
  padding: 0;
}
.post-tags .post-tag {
  border: 1.5px solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  font-size: 14px;
}
.post-tags .post-tag:hover {
  background-color: var(--light-text-color);
  color: rgb(var(--light-primary-color));
}
.post-tag a {
  color: inherit;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

li.post-tag::before {
  content: none;
}

/* CODE BLOCKS */
code,
pre {
  background-color: var(--light-tertiary-color);
  box-sizing: border-box;
  color: white;
}

pre {
  font-size: 0.95rem;
  overflow: auto;
  padding: 20px;
}

code {
  box-decoration-break: clone;
  word-wrap: break-word;
  font-size: 0.8em;
}

:not(pre) > code {
  background-color: var(--light-secondary-color) !important;
  color: var(--light-text-color);
  padding: 1px 4px;
}

pre code {
  font-size: 0.9em;
}

/*
Fix iOS font sizing in code blocks
Author: https://github.com/bglw
Source: https://github.com/adityatelange/hugo-PaperMod/issues/828#issuecomment-1171994855
*/
code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

blockquote {
  border-left: 2px solid var(--light-secondary-color);
  color: grey;
  padding-left: 1rem;
  margin-left: 0;
}

hr {
  color: var(--light-secondary-color);
  margin: 42px auto;
  width: 77%;
}

table {
  border-collapse: collapse;
  margin: 30px 0;
  text-align: left;
  display: block;
  overflow-x: auto;
}

table thead {
  background-color: var(--light-secondary-color);
}

table td,
table th {
  padding: 1.4rem;
}

table td {
  border-bottom: 1px solid var(--light-secondary-color);
}

/* HOME PAGE */
.home-about {
  text-align: center;
}

.home-about .avatar img {
  border-radius: 50%;
  height: auto;
  object-fit: cover;
  background-image: url(/images/paper.png);
  animation: borderglow 3s ease-in-out forwards;
}

#avatar:hover {
  content: url("/images/calligraphy.gif");
  animation: borderless 4s ease-in-out forwards;
}

@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes scale-down {
  from {
    transform: scale(1) rotate(360deg);
  }
  to {
    transform: scale(1);
  }
}

@keyframes borderglow {
  0% { box-shadow: 0 0 0px var(--accent-color); }
  100% { box-shadow: 0 0 12px var(--accent-color); }
}

@keyframes borderless {
  0% { box-shadow: 0 0 12px var(--accent-color); }
  100% { box-shadow: 0 0 0px var(--accent-color); }
}

img#avatar {
  height: 12rem;
  width: 12rem;
}

/* Avatar sizes (default is M) - XS, S, M, L, XL */
.home-about .avatar img.size-xs {
  height: 7rem;
  width: 7rem;
}

.home-about .avatar img.size-s {
  height: 9rem;
  width: 9rem;
}

.home-about .avatar img.size-m {
  height: 11rem;
  width: 11rem;
}

.home-about .avatar img.size-l {
  height: 13rem;
  width: 13rem;
}

.home-about .avatar img.size-xl {
  height: 15rem;
  width: 15rem;
}

.home-about h1 {
  font-size: 2em;
}

.social-icons {
  text-align: center;
}

.social-icons .social-icons-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.social-icons-list .social-icon {
  box-sizing: border-box;
  display: inline-block;
  fill: var(--light-text-color);
  height: 24px;
  margin: 0 6px;
  width: 24px;
}

.social-icon a svg path {
  transition: fill 0.15s ease;
}

.markdown-content {
  line-height: 1.25;
  width: 80%;
  margin: 0 auto;
}

.home-posts {
  margin: 0 auto;
  padding-top: 10px;
  width: 80%;
}

.home-content {
  text-align: center;
  transition: opacity 0.777s ease, filter 0.777s ease, transform 0.777s ease, text-shadow 0.777s ease;
}

.duck-break {
  margin: 42px auto;
  cursor: wait;
}

#始 {
  div.tiny {
    display: inline;
    margin: -7px;
    font-size: 0.7rem;
  }

  /* container */
  .padded-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 77px;
  }

  /* boxes */
  .padded-boxes > * {
    width: 100%;
    background: var(--light-primary-color);
    border-radius: .3rem;
  }

  /* headings */
  .padded-boxes .heading {
    background: var(--accent-color);
    margin: 0;
    padding: .7rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    box-shadow: 0px 0px 7px #777;
  }

  /* padded content */
  .padded-boxes .padded {
    padding: .7rem 1rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    box-shadow: 0px 0px 7px #777;
    border: 1px solid var(--accent-color);
  }

  /* tablet breakpoint */
  @media (min-width: 888px) {
    .padded-boxes > * {
      width: calc(50% - 1rem);
    }
  }

  /* mobile breakpoint */
  @media (max-width: 444px) {
    .padded-boxes {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .button {
    width: 280px;
    height: 90px;
    overflow: hidden;
    position: relative;
    padding: 12px 24px;
    font-size: 3rem;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.777);
    background: linear-gradient(217deg, rgba(179, 51, 46, 0.8), rgba(179, 51, 46, 0) 70.71%),
                linear-gradient(127deg, rgba(179, 51, 46, 0.8), rgba(179, 51, 46, 0) 70.71%),
                linear-gradient(336deg, rgba(179, 51, 46, 0.8), rgba(179, 51, 46, 0) 70.71%);

    text-shadow:
                1px 1px 2px rgba(0, 0, 0, 0.7),
               -1px -1px 2px rgba(255, 255, 255, 0.7);
    moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    position: relative;
  }

  .rubber span, .duck span {
    margin: -7px;
    position: relative;
    display: inline-block;
    animation: flip 7s infinite;
    animation-delay: calc(.7s * var(--i));
    font-size: 37px;
    line-height: 1;
  }

  .button:focus {
    outline: 3px solid var(--accent-color);
    outline-offset: 3px;
  }

  .button--outline {
    background-color: var(--accent-color);
    color: #fff;
    border: 3px solid var(--dark-primary-color);
    moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }

  .button--outline:hover {
    background-color: var(--light-tertiary-color);
    color: white;
  }

  button .duck {
    display: none;
  }

  button:hover .rubber {
    display: none;
  }

  button:hover .duck {
    display: inline-block;
  }
}

/* SINGLE */
.post [role="doc-subtitle"] {
  font-size: 1.1em;
  font-style: italic;
}
.post {
  /* Prevent long strings from overflowing */
  overflow-wrap: break-word;
}
.post .post-date, .prev-post-date, .next-post-date {
  color: gray;
}
.post .post-content {
  line-height: 1.7;
  margin-top: 50px;
  letter-spacing: 0.5px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4 {
  scroll-margin-top: 55px;
}
.post-content h1 {
  margin-top: 40px;
}
.post-content h2 {
  margin-top: 35px;
}
.post-content h3 {
  margin-top: 30px;
}
.post-content h4 {
  margin-top: 25px;
}
.post-content h5 {
  margin-top: 20px;
}
.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-content a {
  color: var(--accent-color);
}
.post-content strong {
  color: var(--accent-color);
}
.post-content a:hover {
  color: var(--light-primary-color);
}

/* LIST */
.list-posts .list-title {
  text-align: center;
}
.list-posts .posts-year {
  margin-top: 70px;
}
.list-posts .post-title {
  margin: 18px 0 0 15px;
}
.list-posts a {
  text-decoration: none;
}
.post-title .post-link,
.post-title .post-date {
  display: inline-block;
}
.post-title .post-link {
  /* This magic number is the largest width that keeps the post-date div from
   *  causing the line to wrap with the longest possible date string
   *  "September 22, 2022"
   */
  width: 73%;
}
.tags-list .post-tags {
  margin-top: 50px;
}
.tags-list .post-tags .post-tag {
  margin: 2px 5px;
  padding: 0;
}
.tags-list .post-tags .post-tag a {
  border-radius: inherit;
  padding: 0;
}
.tags-list .post-tags .post-tag a div {
  display: inline-block;
}
.tags-list .post-tags .post-tag a .tag-name {
  padding: 5px 8px;
}
.tags-list .post-tags .post-tag a .tag-posts-count {
  background-color: var(--light-secondary-color);
  border-radius: inherit;
  color: inherit;
  opacity: 0.8;
  padding: 6px;
  position: relative;
  z-index: 0;
}
.tags-list .post-tags .post-tag:hover a .tag-posts-count {
  background-color: var(--light-text-color);
  color: rgb(var(--light-primary-color));
}

.text-404 {
  margin-top: 125px;
  text-align: center;
}

@media only screen and (max-width: 1120px) {
  main#content {
    width: auto;
  }
}

@media only screen and (max-width: 820px) {
  body {
    font-size: 0.95rem;
  }

  .flex-break {
    display: block;
  }

  .home-about .avatar img {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
  }

  .nav-links .nav-link,
  .nav-icons-divider {
    display: none;
  }

  #hamburger-menu-toggle {
    display: inline-block;
  }

  main#content {
    box-sizing: border-box;
    padding: 0 1.5rem;
    width: auto;
  }

  .markdown-content, .home-posts {
    width: auto;
    margin: 0;
  }

  main#content .container {
    width: 100%;
  }

  .home-about {
    margin: 0 auto;
  }

  #toc {
    display:none;
  }

  .list-posts {
    flex: 1;
  }

  .list-posts .post-date {
    color: gray;
  }

  .footer {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 820px) {
  .nav-hamburger-list {
    visibility: hidden !important;
  }
}

/*Accessibility*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.prev-post {
  float: left;
  text-align: left;
}

.next-post {
  float: right;
  text-align: right;
}

.prev-post, .next-post {
  max-width: 33%;
}

/* back to top button  */
.arrow-logo {
  background-color: transparent;
  border-radius: 50%;
  bottom: 20px;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 10px;
  padding-right: 8px;
  position: fixed;
  right: 20px;
  z-index: 5;
  background-color: var(--light-tertiary-color);
  width: 25px;
  height: 25px;
}

.arrow-logo path{
  fill: var(--light-secondary-color)
}

.arrow-logo:hover {
  fill:  var(--accent-color); 
}

@media screen and (max-width: 600px) {
  #btt-button {
      visibility: hidden;
  }
}

/* tooltip */

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 111px;
  color: white;
  background-color: var(--accent-color);
  padding: 5px;
  font-size: .7rem;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.top {
  top: -42px;
  left: -50%;
}

.direct-top {
  top: -42px;
  left: 0%;
}

.footer-top {
  top: -25px;
  left: 5%;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* accordion */

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

.accordion {
  color: var(--light-primary-color);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 7%;
  margin-right: 7%;
}

.tab__label, .tab__close {
  display: flex;
  color: white;
  background: var(--accent-color);
  cursor: pointer;
}

.tab__label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.tab__label::after {
  content: "\276F";
  position: absolute;
  right: 1rem;
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.accordion--radio {
  --theme: var(--light-primary-color);
}

.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

@keyframes flip {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px var(--light-secondary-color);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-tertiary-color);
}

.enso-inline {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}

.enso-icon {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.7;
  animation: fadeEnso 6s ease-in-out infinite;
  animation-delay: 1s;
  filter: invert(32%) sepia(60%) saturate(3600%) hue-rotate(-3deg) brightness(90%) contrast(85%);
}

@keyframes fadeEnso {
  0%, 100% { opacity: 0.1; }
  50%      { opacity: 0.7; }
}

.middle-path {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 1em;
  line-height: 12;
  text-align: center;
  color: var(--accent-color);
  display: inline-block;
  text-shadow: 0.5px 0 transparent;
  font-family: 'Noto Sans Symbols', 'Segoe UI Symbol', sans-serif;
  animation: pulsePath 12s ease-in-out infinite;
}

@keyframes pulsePath {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.777);
    box-shadow:
      -1px 0 3px rgba(179, 51, 46, 0.07),
       1px 0 3px rgba(179, 51, 46, 0.07);
    opacity: 0.77;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.08);
    box-shadow:
      -3px 0 7px rgba(179, 51, 46, 0.12),
       3px 0 7px rgba(179, 51, 46, 0.12);
    opacity: 1;
  }
}

.fade {
  position: relative;
  display: inline-block;
  height: 1.1em;
  width: auto;
  font-weight: 600;
}

/* show initial word instantly */
.fade .with {
  position: static;
  visibility: visible;
  opacity: 1;
  display: inline;
  animation: hideInitial 0.1s ease-in 0.5s forwards;
}

/* fade-rotator logic */
.fade span:not(.with) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadeWords 42s infinite ease-in-out;
  white-space: nowrap;
}

.fade span:nth-child(2) { animation-delay: 0s; }
.fade span:nth-child(3) { animation-delay: 6s; }
.fade span:nth-child(4) { animation-delay: 12s; }
.fade span:nth-child(5) { animation-delay: 18s; }
.fade span:nth-child(6) { animation-delay: 24s; }
.fade span:nth-child(7) { animation-delay: 30s; }
.fade span:nth-child(8) { animation-delay: 36s; }

/* hide the initial span quickly after load */
@keyframes hideInitial {
  to { opacity: 0; visibility: hidden; }
}

@keyframes fadeWords {
  0%   { opacity: 0; transform: scale(0.98); }
  10%  { opacity: 1; transform: scale(1); }
  20%  { opacity: 1; transform: scale(1); }
  30%  { opacity: 0; transform: scale(0.98); }
  100% { opacity: 0; }
}

/* progressbar */
.koshas {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 7px;
}

.dharma {
  background: linear-gradient(217deg, rgba(179, 51, 46, 0.8), rgba(179, 51, 46, 0) 70.71%),
            linear-gradient(127deg, rgba(179, 51, 46, 0.8), rgba(179, 51, 46, 0) 70.71%),
            linear-gradient(336deg, rgba(179, 51, 46, 0.8), rgba(179, 51, 46, 0) 70.71%);
  top: 50px;
  left: 0;
  height: 7px;
  position: fixed;
  transition: 0.0777s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.karma {
  top: 42px;
  height: 21px;
  position: fixed;
  content: url("../images/zenro.png");
  display: none;
  z-index: 7;
  transform: rotate(0deg);
  transition: transform 0.05s linear;
}

.guru {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vritti {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--light-secondary-color);
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  transition: width 0.3s ease;
  display: none;
}

.vritti:hover {
  width: 7px;
}

.vritti-tooltip {
  position: absolute;
  background-color: var(--accent-color);
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.vritti.active {
  background-color: var(--light-tertiary-color);
  width: 7px;
}

.vritti:hover .vritti-tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(7px);
}
