{{ define "main"}}

<div class="text-404">
  <h1 class="error-emoji"></h1>
  <h2>
    {{ i18n "error404" . }} <a href="{{ .Site.BaseURL }}">{{ i18n "do" }}</a>
  </h2>
  <div class="duck-break" onClick="rubber('offering');">☷☵☲<a href="/">☰</a>☲☵☷</div>
  <div id="sahasrara" class="main-avatar avatar">
    <a href="/">
      <img id="avatar" src="images/zenro.png">
    </a>
  </div>

</div>
<script>
  const errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  document.title = "help lost pilgrim"
  const emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
  ];
  const errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
</script>

{{ end }}
